= render partial: "items/header"
.default-container
  %nav.bread-crumbs
    %ul
      %li
        =link_to root_path do
          メルカリ
        = fa_icon "angle-right"
      %li
        %span  マイページ
  %main.large-container.clearfix
    .large-content
      =render partial: "large-content"
    =render partial: "mypage-left-side"
= render partial: "items/footer"
