%section.payment_information-container
.content-title
  %h2 支払い方法
  .menu
    .menu__title
      %h3 クレジットカード一覧
    .menu__add
      =link_to 'クレジットカードを追加する', new_payment_information_path
  .information
    =link_to '支払いについて', new_payment_information_path
