%li.item-box
  =link_to item_path(item.id) do
    = image_tag item.item_images[0].image
    - if item.order_status_id == 2
      .sold-out-box
        .sold-out-text SOLD
    .item-box-text
      .text-box
        %h4
          = item.name
      .price
        = converting_price(item.price)
      .price-tax
        (税込)
      -# .nice
      -#   = fa_icon "heart"
      -#   %span
      -#     1
